body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.employeenavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
  background-color: #0077b6;
}

.navbarleft .brandlogo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.navbarleft img {
  height: 40px;
  vertical-align: middle;
}

.navbarleft span {
  margin-left: 8px;
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
  vertical-align: middle;
  text-decoration: none;
  font-style: none;
}

.navbarcenter .navbarsearch {
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  width: 300px;
  background-color: #ffffff;

}

.navbarright {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbaricon {
  position: relative;
  font-size: 30px;
  cursor: pointer;
  top: 5px;
}

.notifbadge {
  background: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: -6px;
  right: -8px;
}

.notifdropdown {
  position: absolute;
  top: 35px;
  right: 0;
  background: #fff;
  color: #000;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 250px;
  max-height: 250px;
  overflow-y: auto;
}

.notifdropdown ul {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 250px;
  list-style: none;
  padding: 10px;
  margin: 0;
}

.notifdropdown li {
  padding: 10px 12px;
  border-bottom: 2px solid #ddd;
}

.profileavatar {
  background: #1976d2;
  color: white;
  border-radius: 50%;
  padding: 0px 14px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.profilesidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 200;
  display: flex;
  flex-direction: column;
  animation: slideIn 0.3s ease-out forwards;
  font-family: 'Segoe UI', sans-serif;
  border-left: 1px solid #ddd;
}

.sidebarheader {
  display: flex;
  align-items: center;
  height: 67px;
  padding: 0 20px;
  background-color: #0077b6;
  color: white;
}

.sidebarheader h3 {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}

.closebtn {
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  color: white;
  background: none;
  border: none;
}

.sidebarmenu {
  list-style: none;
  padding: 10px;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidebarmenu li {
  margin: 10px 0;
  width: 100%;
}

.sidebarmenu a,
.sidebarmenu button {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  background: none;
  border: none;
  padding: 10px 12px;
  border-radius: 6px;
  transition: background 0.3s, color 0.3s;
  width: 100%;
  cursor: pointer;
}

.sidebarmenu a:hover,
.sidebarmenu button:hover {
  background-color: #e0f4ff;
  color: #0077b6;
}

.employeehomepagecontainer {
  text-align: center;
  margin: 130px auto;
  max-width: 100%;
  animation: fadeSlideUp 1s ease forwards;
  opacity: 0;
  transform: translateY(30px);
}

.employeehomepagecontainer h2 {
  font-size: 4rem;
  color: #03045e;
  margin-bottom: 10px;
}

.employeehomepagecontainer p {
  font-size: 1.7rem;
  margin-bottom: 30px;
  color: #333;
}

.employeecardsection {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding: 100px;
}

.employeecard {
  position: relative;
  background: #ffffff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(64, 67, 241, 0.2);
  color: #000;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 280px;
  height: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  text-decoration: none;
  z-index: 1;
}

.employeecard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px #1976d2;
}

.employeecard::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  transition: height 0.4s ease;
  z-index: -1;
}

.employeecard:hover::before {
  height: 100%;
}

@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    right: -300px;
  }

  to {
    right: 0;
  }
}

@media (max-width: 768px) {
  .employeecardsection {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .navbarcenter .navbarsearch {
    width: 100%;
  }

  .profilesidebar {
    width: 100%;
  }

  .employeehomepagecontainer h2 {
    font-size: 2.5rem;
  }

  .employeehomepagecontainer p {
    font-size: 1.2rem;
  }

  .employeecard {
    width: 90%;
    height: auto;
    padding: 20px;
  }
}